@import './styles/theme';
@import './styles/mixins';

.ax_card_with_icon{
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  margin: 0 1.6rem 3.2rem 0 ;
  padding: 1.6rem 1.6rem 6rem 1.6rem;
  border-radius: .6rem;
  background: $bright-color;
  box-shadow: $shadow-large;
  transition: all .2s $cubic-transition;      

  &:hover{
    transform: scale(1.06);
  }

  .ax_card_body{
    width: 100%;
    display: table;

    h3{
      font-family: $display-font;
      font-size: 1.8rem;
      color: $highlight-color !important;
      font-weight: 700;
    }
  
    p{
      font-family: $body-font;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: $base-color;
      font-weight: 400 ;
    }
  }

  a{
    width: calc(100% - 3.2rem);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 1.6rem;
  }

  .ax_card_icon {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 3.2rem auto;
    background: $base-color;
    border-radius: 50%;
    padding: 2.4rem;   
    text-align: center;   

    img{
      width: 60%;
      max-width: 60%;
      height: auto;
      display: block;
    }
  }
}

.ax_card_wide {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  text-align: left !important; 

  .ax_card_with_icon {
    display: flex !important;
    flex-wrap: wrap;
  }

  .ax_card_icon {
    width: 10rem;
  }
 
  .ax_card_body{
    width: calc( 100% - 12rem);
    text-align: left;    
  }

  @include responsive(desktop){
    a{
      width: 16rem !important;
      right: 1.6rem !important;
    }
  }

  @include responsive(tablet){
    a{
      width: 16rem !important;
      right: 1.6rem !important;
    }
  }

  @include responsive(mobile){
    .ax_card_with_icon {
      margin-right: 0;      
    }
    
    .ax_card_icon {
      width: 10rem;
    }
   
    .ax_card_body{
      width: 100%;
      text-align: center;
    }

    a{
      width: calc(100% -3.2rem) !important;
      right: 1.6rem !important;
    }    
  }
}

@include responsive(desktop){
  .ax_card_vertical {
    width:  calc(33% - 3.2rem) !important;
    margin: 0 1.6rem 2.4rem;
  }  
}

@include responsive(tablet){
  .ax_card_vertical {
    width: calc(50% - 3.2rem) !important;
    margin: 0 1.6rem 2.4rem;
  }  
}

@include responsive(mobile){
  .ax_card_vertical {
    width: 100% !important;
    margin: 0 0 2.4rem;
  }  
}
