@import './theme';
@import './mixins';

.ax_whatsapp_button {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  z-index: 1000;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: $shadow-large;
  padding: 0;
  margin: 0;
  background: white;
  
  img{
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}